@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin : 0;
	background-color: #2a2a72;
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh; 
}

input {
	background-color: skyblue;
	border-radius: 10px;
	border: 2px solid white;
	color: white;
	font-family: inherit;
	font-size: 1rem;
	padding: 1rem;
	margin-bottom: 2rem;
}

input::placeholder {

}

input::focus {

}

.card {
	background-color: red;
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
	border-radius: 20px;
	display: flex;
	box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
	padding: 3rem;
	max-width: 800px;
}

.image_container {
	/* display: flex;
	border-radius: 50%;
	height: 150px;
	width: 150px; */
}

.avatar {
	border : 10px solid #2a2a72;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.user_info {
	margin-left: 2rem;
	color:#eee;
}

.user_info h2 {
	margin-top : 0;
}

.user_info ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
	width: 300px;
	list-style-type: none;
}

.user_info ul li {
	display: flex;
	align-items: center;
}

.user_info ul li strong {
	font_size : 0.85rem;
	margin-left : 0.5rem;
}

.repo {
	background-color: bisque;
	border-radius: 5px;
	display: inline-block;
	color: black;
	font-size: 0.7rem;
	padding: 0.25rem 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	text-decoration: none;
}